#navigation_iframe{
  text-align:left;
  border-style: groove;
  width: 390px;
  height:775px;
  position:fixed;
  overflow:hidden;
  top:160px; 
  bottom:0px;
}
#introduction_iframe{
  text-align:left;
  border-style: groove;
  width: 1115px;
  height:775px;
  position: fixed;
  top:160px; 
  bottom:0px;
  left:400px;
  overflow:hidden;
}
#recommendations_iframe{
  text-align:left;
  border-style: groove;
  width: 390px;
  height:775px; /*height 100%*/
  position:fixed;
  top:160px; 
  bottom:0px;
  left:1515px;
  overflow:hidden;

}

#dragon1{
  float:left;
  width:90px; /*22.3*/
  position:absolute;
  top:15px;
  left:15px;
  z-index: 1;
}
#banner1{

  width:575px; /*21%*/
  height:12px;
  position: absolute;
  top:115px;
  left:150px;
  z-index: 1;
  color:cyan;
}
#dragon2{
  float:right;
  width:90px; /*22.3*/
  position:absolute;
  top:15px; /*15*/
  left:900px;
  z-index: 1;
}
#banner2{

  width:575px; /*21%*/
  height:12px;
  position: absolute;
  top:129px;
  right:150px;
  z-index: 1;
  color:cyan;
}

.musicPlayerParent{
  width: 1915px; 
  height: 300px;
  left:0px; /*left:824px;*/
  z-index: -1;
  position:fixed;
}

#musicPlayer{
  position: absolute;
  left:827px;
  top: 125px;
}

.orbParent{
  width: 1915px;
  height: 65px;
  top:17px;
  z-index: -1;
  position: fixed;
}

#orb{
  position: absolute;
  left:754px;
}

body {
	color: white; 
	background-image: url("stars.gif");
}

/* unvisited link */
a:link {
  color: hotpink;
}
/* visited link */
a:visited {
  color: #ffcc00;
}
/* mouse over link */
a:hover {
  color: white;
}


table,th,td.genericTable{
		border: 1px solid white;
		padding: 15px;
		border-collapse: collapse;
}

.mainHeader{
	color:gold;
  padding:40px;
	text-align:center;
}

