@font-face {
  font-family:"RS";
  src:url("fonts/runescape_chat_font.eot?") format("eot"),
  url("fonts/runescape_chat_font.woff") format("woff"),
  url("fonts/runescape_chat_font.ttf") format("truetype"),
  url("fonts/runescape_chat_font.svg#Runescape-Chat-Font") format("svg");
  font-weight:normal;font-style:normal;}


/* Headers */
  h1{
    font-family: "RS";
    color:gold;
  }
  h2{
    font-family: "RS";
    color:gold;
  }
  h3{
    font-family: "RS";
    color:gold;
  }
/* Paragraphs */
  p{
    font-family: "RS";
    color:antiquewhite;
    font-size:x-large
  }

/* Links */

a:link {
  color: hotpink;
  font-size:x-large
}
a:visited{
  color: #ffcc00;
  font-size:x-large
}
a:hover {
  color: white;
  font-size:x-large
}

/*Ordered Lists*/
ol{
  font-family: "RS";
  color:antiquewhite;
  font-size:x-large
  }

/*Dictionary Lists Entries*/
dd{
  font-family:"RS";
  color:antiquewhite;
  font-size: x-large
}

audio {
  width: 200px;
  height: 25px;
}